.popup__btn-close {
  position: absolute;
  top: -38px;
  right: -38px;
  width: 32px;
  height: 32px;
  background-image: url(./../../../images/btn-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .popup__btn-close {
    right: 0;
    width: 20px;
    height: 20px;
  }
}
