.profile__btn-edit {
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid var(--light-color);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./../../../images/btn-edit.svg);
    background-size: 10px 10px;
    padding: 11px;
}

@media (max-width: 576px) {
    .profile__btn-edit {
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
        padding: 8px;
    }
}