.form-profile__btn-submit {
  display: inline-flex;
  width: 100%;
  min-height: 50px;
  font-size: 18px;
  line-height: 22px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 2px;
  transition: var(--transition);
}
.form-profile__btn-submit:hover {
  opacity: 0.8;
}
@media (max-width: 768px) {
  .form-profile__btn-submit {
    font-size: 14px;
    line-height: 17px;
    margin-top: 24px;
  }
}
